.reviews {
  background-color: #f8f5f2;
  padding-bottom: 5px;
  padding-top: 26px;
  position: relative;

  &::after {
    content: "";
    background-image:
      linear-gradient(
        to top right,
        transparent 50%,
        #f8f5f2 50%
      ),
      linear-gradient(
        to top left,
        transparent 50%,
        #f8f5f2 50%
      );
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    height: 35px;
    left: 0;
    position: absolute;
    bottom: -35px;
    width: 100%;
    z-index: 10;
  }

  &__title {
    width: auto;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 29px;
  }

  &__item {
    min-height: 166px;
    padding-bottom: 0;
    padding-left: 91px;
    padding-right: 15px;
    position: relative;
    &:nth-of-type(1) {
	display: block;
	}
    &:nth-of-type(n+2) {
      display: none;
    }

  }

  &__author-image {
    border: 1px solid #eae4dd;
    height: 46px;
    left: 19px;
    position: absolute;
    top: 10px;
    width: 48px;
  }

  &__author-name {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 9px;
  }

  &__text {
    font-size: 18px;
    margin: 0;
  }

  &__button {
    display: none;
  }
  &__wrapper {
  text-align: left;
  }

}
.slider__reviews {
text-align: center;
}
@media (min-width: 768px) {

  .reviews {
    padding: 0 64px;
    padding-bottom: 70px;
    padding-top: 45px;
    position: relative;

    &::after {
      content: none;
    }

    &__title {
      font-size: 40px;
      line-height: 30px;
      padding-bottom: 48px;
      text-align: left;
	  margin: 0 auto;
	  max-width: 960px;
      width: 100%;
    }

    &__wrapper {
      position: relative;
    }

    &__item {
      border: 1px solid #e5ddd5;
      margin: 0 49px;
      min-height: 128px;
      padding-left: 141px;
      padding-top: 30px;
    }

    &__author-image {
      border-radius: 50%;
      height: 80px;
      left: 30px;
      top: 36px;
      width: 80px;
    }

    &__author-name {
      padding-bottom: 3px;
    }

    &__button {
      background: none;
      border: 1px solid #e5ddd5;
      display: block;
      font-size: 0;
      height: 160px;
      outline: none;
      position: absolute;
      top: 0;
      width: 50px;
	  cursor: pointer;

      &:hover {
        border-color: #d5c9bd;
      }

      &:active {
        background-color: #d5c9bd;
      }

      &--prev::after,
      &--next::after {
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        bottom: 50%;
        content: "";
        cursor: pointer;
        height: 0;
        position: absolute;
        right: 50%;
        transform: translate(50%, 50%);
        width: 0;
      }

      &--prev {
        left: 0;

        &::after {
          border-right: 12px solid #000000;
        }

        &:active::after {
          border-right-color: #958c84;
        }

      }

      &--next {
        right: 0;

        &::after {
          border-left: 12px solid #000000;
        }

        &:active::after {
          border-left-color: #958c84;
        }

      }

    }

  }

}

@media (min-width: 1200px) {

  .reviews {
    padding-bottom: 99px;

    &__title {
      margin-left: 127px;
    }

    &__wrapper {
      padding: 0 78px;
    }

    &__item {
      padding-bottom: 0px;
      padding-left: 319px;
      padding-right: 40px;
    }

    &__author-image {
      border: none;
      border-radius: 0%;
      height: 159px;
      left: 0;
      top: 0;
      width: 249px;
    }

    &__button {

      &--prev {
        left: 56px;
      }

      &--next {
        right: 56px;
      }

    }

  }
}