.slider {
  position: relative;
  text-align: center;
  &__item {
  display: none;
  }
  &__item:nth-child(1) {
  display: block;
  }
  &__toggle {
    cursor: pointer;
    border: 1px solid #ffffff;
    display: inline-block;
    margin: 5px 13px 0;
    height: 5px;
    transform: rotate(45deg);
    vertical-align: top;
    width: 5px;
	line-height: 27px;
	background-color: transparent;
	position: relative;
	text-align: center;
    &--reviews {
      border-color: #939290;
    }

  }

}

.active {
background-color: #fff;
}

.slider__toggle--reviews.active {
background-color: #000;
}

@media (min-width: 768px) {

  .slider {

    &__advantages {
      display: none;
    }

    &__reviews {
      background-color: #f8f5f2;
      bottom: -17px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      width: 125px;
    }

  }

}

@media (min-width: 1200px) {

  .slider__reviews {
    background-color: transparent;
    bottom: -65px;
  }
}