@import 'variables.scss';
@import 'scaffolding.scss';
@import 'blocks/forms.scss';
@import 'blocks/page-header.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/site-list.scss';
@import 'blocks/user-list.scss';
@import 'blocks/stats.scss';
@import 'blocks/advantages.scss';
@import 'blocks/slider.scss';
@import 'blocks/news.scss';
@import 'button.scss';
@import 'blocks/reviews.scss';
@import 'blocks/modal-personal.scss';
@import 'blocks/footer.scss';
@import 'blocks/contacts.scss';
@import 'blocks/social.scss';
@import 'blocks/social-button.scss';
@import 'blocks/copyright.scss';