@import 'normalize.css';

* {
	box-sizing: border-box;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
}
p, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
input, textarea {
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
}
button {
	border: none;
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
legend {
	border: none;
	margin: 0;
	padding: 0;
}

@import 'variables.scss';
@import 'scaffolding.scss';
@import 'blocks/page-header1.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/site-list.scss';
@import 'blocks/user-list.scss';
@import 'blocks/stats.scss';