include bemto/bemto.pug
mixin button(name, href)
	+e.LI.item
		+b.A(href=href)= name
mixin table(value, field)
	+b.TR
		+b.TD.stats__value!= value
		+b.TD.stats__field!= field
doctype html
html
	head
		title Barbershop
		meta(charset='utf-8')
		meta(name='description' content='Barbershop - a cool barbershop')
		meta(name='keywords' content='hair, cut, haircut')
		link(href='css/normalize.css' rel='stylesheet')
		link(href='css/style.css' rel='stylesheet')
	body
		+b.HEADER.page-header
			+e.A.logo
				+b.PICTURE
					+b.SOURCE(media="(min-width: 1200px)" srcset="img/logotype-desktop.svg")
					+b.SOURCE(media="(min-width: 768px)" srcset="img/logotype-tablet.svg")
					+b.IMG(src="img/logotype-mobile.svg" alt="Барбершоп «Бородинский»" width="226" height="30")
			+b.NAV.main-nav--closed.--nojs
				+e.BUTTON.toggle(type="button")
				+e.wrapper
					+b.UL.main-nav__list.site-list__
						+e.LI.item--active
							+b.A Главная
						+button('Наши работы', 'photo.html')
						+button('Записаться', 'form.html')
						+button('Контакты', '#')
						+button('HTML Academy', '#')
					+b.UL.main-nav__list.user-list__
						+e.LI.item
							+b.A.user-list__login(href="#") <svg class="user-list__login-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="0 7 7.01 7 7.01 4.06 10.96 8.01 7.01 11.91 7.01 9.06 0 9.02 0 7"/><polygon points="7.01 0 7.01 2 14.03 2 14.03 13.99 7.01 13.99 7.01 16 16 16 16 0 7.01 0"/></svg> Вход
		+b.MAIN.page-main
			+b.H1.visually-hidden Барбершоп «Бородинский» – истинно мужская классика
			+b.SECTION.stats
				+e.HEADER.header
					+b.H2.stats__title.visually-hidden Статистика Барбершопа
					+b.B.stats__slogan Стрижка у нас<br> это выгодно!
					+b.P.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
					+b.SMALL.stats__legend--top <sup>*</sup> — приведённые данные ложь
				+e.TABLE.list
					+table('1 500<sup>*</sup>', 'рублей<br> вложений')
					+table('7 200', 'секунд<br> времени мастера')
					+table('90 000', 'постриженных<br> волос')
					+table('500 000<sup>*</sup>', 'лайков<br> и комплиментов')
				+e.SMALL.legend--bottom <sup>*</sup> — приведённые данные ложь
			+b.SECTION.advantages
				+e.wrapper.slider__
					+b.H2.visually-hidden Наши преимущества
					+b.advantages__item--fast.slider__item
						+b.H3.advantages__title Быстро
						+b.P.advantages__description Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки.
					+b.advantages__item--cool.slider__item
						+b.H3.advantages__title Круто
						+b.P.advantages__description Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
					+b.advantages__item--price.slider__item
						+b.H3.advantages__title Дорого
						+b.P.advantages__description Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
					+e.toggles.slider__advantages
						+b.BUTTON.slider__toggle--advantages.active(type="button" onclick="currentSlide(1)")
						+b.BUTTON.slider__toggle--advantages(type="button" onclick="currentSlide(2)")
						+b.BUTTON.slider__toggle--advantages(type="button" onclick="currentSlide(3)")
			+b.SECTION.news
				+b.H2.news__title Новости и акции
				+b.ARTICLE.news__item
					+b.TIME.news__date(datetime="2017-09-29") <span class="news__date--big">29</span> сент
					+b.A.news__link(href="#") Нам наконец-то завезли Егермейстер! Теперь вы можете пропустить стаканчик во время стрижки.
				+b.ARTICLE.news__item
					+b.TIME.news__date(datetime="2017-09-19") <span class="news__date--big">19</span> сент
					+b.A.news__link(href="#") В нашей команде пополнение, Борис «Бритва» Стригунец пополнил наши стройные ряды. Спешите записаться!
				+b.ARTICLE.news__item
					+b.TIME.news__date(datetime="2017-09-09") <span class="news__date--big">9</span> сент
					+b.A.news__link(href='#') Всё дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чём здесь подвох!
				+b.A.button--news(href="#") Показать все
			+b.SECTION.reviews
				+b.H2.reviews__title Отзывы о нас
				+e.wrapper.slider__
					+b.reviews__item.slider__item
						+b.image.reviews__author-image(src="img/picture-travis.jpg" width="50" height="33" alt="Фото Трэвиса Баркера")
						+b.B.reviews__author-name Трэвис Баркер
						+b.P.reviews__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
					+b.reviews__item.slider__item
						+b.image.reviews__author-image(src="img/picture-travis.jpg" width="50" height="33" alt="Фото Джона Смита")
						+b.B.reviews__author-name Джон Смит
						+b.P.reviews__text Отличную стрижку мне сделали ребята.
					+b.reviews__item.slider__item
						+b.image.reviews__author-image(src="img/picture-travis.jpg" width="50" height="33" alt="Фото Ивана Бородайло")
						+b.B.reviews__author-name Иван Бородайло
						+b.P.reviews__text В Бородинском ваша борода в надёжных руках!
					+b.BUTTON.reviews__button--prev(type="button" onclick="plusSlides1(-1)") Предыдущий отзыв
					+b.BUTTON.reviews__button--next(type="button" onclick="plusSlides1(1)") Следующий отзыв
					+e.toggles.slider__reviews
						+b.BUTTON.slider__toggle--reviews.active(type="button" onclick="currentSlide1(1)")
						+b.BUTTON.slider__toggle--reviews(type="button" onclick="currentSlide1(2)")
						+b.BUTTON.slider__toggle--reviews(type="button" onclick="currentSlide1(3)")
				+b.A.button--reviews(href="#") Оставить свой
		+b.SECTION.modal-personal
			+e.HEADER.header
				+b.B.modal-personal__title Личный кабинет
				+b.P.modal-personal__text Введите свой логин и пароль, чтобы войти
			+e.FORM.form(action='#' method='post')
				+b.modal-personal__user
					+b.INPUT.modal-personal__field(type='text' id='login' placeholder='Логин')
					+b.modal-personal__caption--login  Логин
					+b.INPUT.modal-personal__field--password(type='password' id='password' placeholder='Пароль')
					+b.modal-personal__caption--password Пароль
				+b.modal-personal__settings
					+b.INPUT.modal-personal__field--remember(type='checkbox' name='remember' id='remember')
					+b.LABEL.modal-personal__caption--remember(for='remember') Запомните меня!
					+b.A.modal-personal__forgot(href='#') Я забыл пароль!
				+b.BUTTON.button--log-in(type='submit') Войти 
					+b.SPAN.modal-personal__in-personal  в личный кабинет
				+b.BUTTON.button--close(type='button') Закрыть
		+b.FOOTER.footer
			+b.contacts__
				+e.B.title Барбершоп Бородинский
				+e.P.text г. Санкт-Петербург, ул. Большая Конюшенная 19/8
				+b.A.button--contacts(href="tel:+78125556666") <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
			+b.social
				+e.B.title Давайте дружить!
				+e.icons
					+b.A.social__button--vk(href="#") Мы в Вконтакте
					+b.A.social__button--fb(href="#") Мы в Фейсбуке
					+b.A.social__button--ig(href="#") Мы в Инстаграме
			+b.copyright
				+e.P.title Разработано:
				+b.A.button--copyright(href="www.htmlacademy.ru") HTML Academy
+b.SCRIPT(src='js/script.js')